{% if resume.certificates.size > 0 %}
<section>
  <div class="npb">
  <h2 id="certificates" class="h3 hr-bottom">
    {{ strings.resume.certificates | default:"Certifications" }}
    <span class="symbol {{ icons.certificates | default:'icon-library' }}"></span>
  </h2>
  {% for cert in resume.certificates %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      {% if cert.verified.size > 0 %}
        <p class="faded">
          {% include components/verified-expired.html verified=cert.verified expired=cert.expired format=from_to_format %}
        </p>
      {% endif %}
      <h3 class="h4 faded" {% if cert.endDate.size > 0 %}property="alumniOf" typeof="certificationOrganization"{% endif %}>
        {% capture title %}<span class="bc">{{ cert.title }}</span>{% endcapture %}
        {% capture provider %}<span class="bc">{{ cert.provider }}</span>{% endcapture %}
        {% capture institution %}<span class="bc" {% if cert.endDate.size > 0 %}property="name"{% endif %}>{{ cert.institution }}</span>{% endcapture %}
        {% capture gpa %}<span class="bc">{{ cert.gpa }}</span>{% endcapture %}
        {{ strings.resume.certifications_title
          | default:"<!--title--> from <!--provider-->"
          | replace:"<!--title-->", title
          | replace:"<!--provider-->", provider
        }}
      </h3>
    </header>

    {% if cert.courses.size > 0 %}
    <h4 class="sr-only">{{ strings.resume.courses | default:"Courses" }}</h4>
    <ul>
      {% for course in cert.courses %}
        <li>{{ course }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
