{% if resume.certificates.size > 0 %}
<section>
  <div class="npb">
  <h2 id="certificates" class="h3 hr-bottom">
    {{ strings.resume.certificates | default:"Certifications" }}
    <span class="symbol {{ icons.certifications | default:'icon-library' }}"></span>
  </h2>
  {% for cert in resume.certificates %}
  <section class="certificates-item">
    <header class="{% unless forloop.first %}mt1{% endunless %}">
      {% if cert.verified.size > 0 %}
        <p class="faded">
          {% include components/verified-expired.html verified=cert.verified expired=cert.expired format=from_to_format %}
        </p>
      {% endif %}
      <h3 class="h4 faded" {% if cert.endDate.size > 0 %}property="alumniOf" typeof="certificationOrganization"{% endif %}>
        {% if cert.website.size > 0 %}
          {% capture title %}{% include components/link.html title=cert.title href=cert.website class="h-card" span_class="bc" property="sameAs" %}{% endcapture %}
        {% else %}
          {% capture title %}<span class="bc">{{ cert.title }}</span>{% endcapture %}
        {% endif %}
        {% capture organization %}<span class="bc">{{ cert.organization }}</span>{% endcapture %}
        {{ strings.resume.certifications_title
          | default:"<!--title--> from <!--organization-->"
          | replace:"<!--title-->", title
          | replace:"<!--organization-->", organization
        }}
      </h3>
    </header>
    {% if cert.description.size > 0 %}
      <i class="faded">{{ cert.description }}</i>
    {% endif %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
