<header>
  <h1 class="page-title fn p-name" property="name">{{ basics.contents.resume.title }}{{ site.data.strings.colon }} {{ basics.name }}</h1>

  {% if basics.picture.size > 0 %}
    <img src="{{ basics.picture | absolute_url }}" class="avatar photo u-photo" alt="{{ basics.name }}" property="image" width="120" height="120" loading="lazy" />
  {% endif %}

  {% if basics.label %}
    {% assign updated_at = site.time | date: site.data.strings.date_formats.last_modified_at %}
    <p class="h3 faded subline title p-job-title" property="jobTitle">
      {{ basics.label }}
      <time datetime="{{ updated_at }}" class="dt-published">({{ site.data.strings.last_modified_at }} {{ updated_at }})</time>
    </p>
  {% endif %}

  {% include components/message.html text=page.description hide=page.hide_description %}
</header>

{% if basics.contents.resume.summary.size > 0 %}
  <p class="note p-note" property="description">
    {{ basics.contents.resume.summary | markdownify | replace:'<p>','' | replace:'</p>','' }}
  </p>
{% endif %}
