@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fns21r');
  src:  url('fonts/icomoon.eot?fns21r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fns21r') format('truetype'),
    url('fonts/icomoon.woff?fns21r') format('woff'),
    url('fonts/icomoon.svg?fns21r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-certificate:before {
  content: "\e906";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-notion:before {
  content: "\e901";
}
.icon-scholar:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-empty:before {
  content: "\2606";
}
.icon-star-half:before {
  content: "\272e";
}
.icon-star-full:before {
  content: "\2605";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-lanyrd:before {
  content: "\eaa2";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-hackernews:before {
  content: "\eac7";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-spinner11:before {
  content: "\21bb";
}
.icon-cog:before {
  content: "\e994";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-menu:before {
  content: "\2630";
}
.icon-arrow-right2:before {
  content: "\2192";
}
.icon-arrow-left2:before {
  content: "\2190";
}
.icon-home3:before {
  content: "\e902";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-brightness-contrast:before {
  content: "\1f506";
}
.icon-search:before {
  content: "\1f50d";
}
.icon-key:before {
  content: "\e98d";
}
.icon-cross:before {
  content: "\274e";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-printer:before {
  content: "\e954";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-copy:before {
  content: "\1f4cb";
}
.icon-checkmark:before {
  content: "\2705";
}
.icon-history:before {
  content: "\1f552";
}
.icon-stackshare:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e905";
}
.icon-library1:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-checkmark1:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-edit:before {
  content: "\e903";
}
