.text-align-center {
  text-align: center;
}
  
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: transform .2s;
  &:active {
    transform: scale(1.5);
  }
}

table.no-border {
  border-collapse: collapse;  
  td, th {
    border: none!important;
 }
}
