<table>
  <style>
    table:not(.rouge-table) td {
      margin: 0px;
      padding: 0.25rem 0.25rem;
    }
    .right-align {
      text-align: right;
    }
  </style>
  <tr>
    <td class="right-align">💼 Résumé</td>
    <td><a href="/profile/resume" class="btn btn-sm btn-primary">🇬🇧 EN</a></td>
    <td><a href="/profile/resume-ko" class="btn btn-sm btn-primary">🇰🇷 KO</a></td>
  </tr>
  <!-- <tr>
    <td class="right-align">🎓 Curriculum Vitae</td>
    <td><a href="/profile/cv" class="btn btn-sm btn-primary">🇬🇧 EN</a></td>
    <td><a href="/profile/cv-ko" class="btn btn-sm btn-primary">🇰🇷 KO</a></td>
  </tr> -->
</table>
