{% assign from_to_separator = strings.from_to_separator | default:strings.resume.from_to_separator | default:"–" %}
{% assign expired_in = strings.expired_in | default:strings.resume.expired_in | default:"Expired in" %}

<time datetime="{{ include.verified | date_to_xmlschema }}">{{ include.verified | date:include.format }}</time>
{% if include.expired.size > 0 %}
  ({{expired_in}}
  <time datetime="{{ include.expired | date_to_xmlschema }}">{{ include.expired | date:include.format }}</time>)
{% endif %}
